{% extends "index.html" %}
{% block title %}Premium Hub{% endblock %}

{% block content %}
<a href="/trends/hub/configure">
    <i class="fa fa-gear" style="font-size:36px; color:#f8a145"></i>
</a>
<div class="column is-4 is-offset-4">
    <h1>
        <font color="white"> Premium Main Hub </font>
    </h1>
</div>

<div>
    <h2>
        <font color="white"> Reddit </font>
    </h2>
</div>

<div>
    <h2>
        <font color="white"> Youtube </font>
    </h2>
</div>

<div>
    <h2>
        <font color="white"> Wykop </font>
    </h2>
</div>

<div>
    <h2>
        <font color="white"> Movies </font>
    </h2>
</div>
{% endblock %}