<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamServ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='squid.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_page.css') }}">
</head>

<body>
    <h1><a href="/" style="text-decoration: none; color: inherit;">Server</a></h1>
    <div>
        <button id="Time" type="button" onclick="window.location.href = '/time' ; " class="button">Time Page</button>
        <button id="Time" type="button" onclick="window.location.href = '/pull' ; " class="button">Update
            Server</button>
        <button id="Time" type="button" onclick="window.location.href = '/trends' ; " class="button">Trends</button>
    </div>
</body>

</html>