<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update the server</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='squid.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_page.css') }}">
</head>

<body>
    <h1>{{ result }}</h1>
    <button id="Main" type="button" onclick="window.location.href = '/' ; " class="button">Main Page</button>
</body>

</html>