<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamServ | Trends</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='squid.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/trends_page.css') }}">
</head>

<body>
    <h1><a href="/" style="text-decoration: none; color: inherit;">Trends</a></h1>
    <button id="Time" type="button" onclick="window.location.href = '/' ; " class="button">Main Page</button>
    <section>
        <h2>Reddit</h2>
        <p>Reddit placeholder</p>
    </section>
    <section>
        <h2>Twitter</h2>
        <p>Twitter placeholder</p>
    </section>
    <section>
        <h2>Films</h2>
        <p>{{movies_list}}</p>
    </section>
</body>

</html>