* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background: rgb(0, 0, 0);
    color: white;
}

.button {
    display: block;
    justify-content: center;
    top: 50%;
    background-color: #343436;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    margin: 50px;
}

.button:hover {
    background-color: #5a01a7;
    transition: 0.7s;
}

.button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

h2 {
    display: block;
    padding: 10px;
    justify-content: center;
}

.wykop_section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    direction: ltr;
}

.wykop_item {
    text-align: center;
    margin: 10px;
    max-height: 500px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.wykop_item:hover {
    background-color: #383838;
    transform: scale(1.1);
}

.yt_section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    direction: ltr;
    overflow-y: hidden;
}

.yt_section img {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.yt_item {
    text-align: center;
    margin: 10px;
    max-width: 250px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.yt_item:hover {
    background-color: #383838;
    transform: scale(1.1);
}

.movies_section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    direction: ltr;
    overflow-y: hidden;
}

.movies_section img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.movies_item {
    text-align: center;
    margin: 10px;
    max-width: 200px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.movies_item:hover {
    background-color: #383838;
    transform: scale(1.1);
}

.reddit_section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    direction: ltr;
    overflow-y: hidden;
}

.reddit_section img {
    align-self: center;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.reddit_item {
    text-align: center;
    margin: 10px;
    width: 300px;
    height: auto;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.reddit_item:hover {
    background-color: #383838;
    transform: scale(1.1);
}