{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block style_sheet %} rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='styles/login_page.css') }}"> {% endblock %}

{% block content %}
    <div class="login-form">
        <form method="POST">
            <input class="input-field" name="email"><br><br>
            <input class="input-field" name="password" type="password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>

{% endblock %}