{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block style_sheet %} rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='styles/signup_page.css') }}" {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="title-space">
        <h3 class="title">Sign Up</h3>
        <h4 class="validation"> {{ message }} </h4>
    </div>
    <div class="box">
        <form method="POST" action="/register">
            <label class="input-label">
                <input class="input" type="email" name="email" id="email" placeholder="Email" autofocus="">
            </label>
            <label class="input-label">
                <input class="input" type="text" name="name" id="name" placeholder="Name" autofocus="">
            </label>
            <label class="input-label">
                <input class="input" type="password" name="password" id="password" placeholder="Password">
            </label>
            <button class="submit-button">Sign up</button>
        </form>
    </div>
</div>
{% endblock %}