{% extends "base.html" %}
{% block title %}Unauthorized{% endblock %}
{% block style_sheet %} rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='styles/unauthorized_page.css') }}" {% endblock %}


{% block content %}
<div class="titles">
    <h2 class="title">You are not permitted to view this content.</h2>
    <h2 class="title">Please log in or sign up</h2>
</div>
    <div class="buttons">
        <form action="/login">
            <input class="unauth-options" type="submit" value="LogIn" />
        </form>
        <form action="/signup">
            <input class="unauth-options" type="submit" value="SignUp" />
        </form>
    </div>
{% endblock %}